@charset "UTF-8";


@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}








/*버튼 기본 색상*/
.custom-button {
    background-color: rgba(114, 77, 44, 1)!important; /* 원하는 색상 지정 */
    border-color: rgba(114, 77, 44, 1)!important; /* 테두리 색상도 동일하게 지정 */
    color: rgba(242, 214, 162, 1)!important;
}

/* 마우스를 올렸을 때 버튼 색상 변경 */
.custom-button:hover {
    background-color: rgba(114, 77, 44, 0.8); /* 마우스를 올렸을 때 조금 더 투명한 색상으로 변경 */
    border-color: rgba(114, 77, 44, 0.8); /* 마우스를 올렸을 때 테두리 색상도 조정 */
    color: rgba(242, 214, 162, 1);
}
.mb-custom {
    margin-bottom: 30px; /* 원하는 만큼의 여백 크기를 지정합니다. */
}
.mb-custom2 {
    margin-bottom: 30px; /* 원하는 만큼의 여백 크기를 지정합니다. */
}
.input-group-prepend {
    display: flex; /* flex container로 설정하여 자식 요소들을 가로로 정렬 */
}
.input-group-prepend input[type="text"] {
    margin-right: 10px; /* 원하는 간격(px)을 지정하세요 */
}









/*기정이 추가한 부분*/

#demo ul {
	
	height: 370px;
	
	
}


hr {
	
	margin: 0px;
	padding: 0px;
	
}



#categorymenu-m{

	text-decoration : none;
	color: inherit; /* 링크의 색상을 상속받음 */
	color: rgba(242, 214, 162, 1);
	font-size: 17px;
}


#categorymenu-m li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
}


#mypage {
	
	
	padding-top: 10px;
	text-decoration: none; /* 밑줄 제거 */
	color: inherit; /* 링크의 색상을 상속받음 */
	color: rgba(242, 214, 162, 1);
	text-decoration: none;
    font-weight: bold;
	
	
	
	
}



/*기정이 추가한 부분 끝*/