
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}










/* 기본 설정: 모바일 우선 */
#desktop-content {
    display: none;
}

#mobile-content {
    display: block;
    min-width:400px;
}

/* 화면 너비가 768px 이상일 때 웹용 페이지 보이기 */
@media screen and (min-width: 768px) {
    #desktop-content {
        display: block;
    }

    #mobile-content {
        display: none;
    }
}	

		* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
     padding-left: 4rem;

     
}
ul{
	margin-bottom : 1rem;
	height : 380px;
	top : 300px;
}
h1 {
	left : -10%;
}

body {
	position: relative;
	width: 100%;
	height: 100vh; /* 변경된 부분 */
	overflow-y: scroll; /* 스크롤바 항상 표시하도록 변경 */
	margin: 0;
}
#btns3{
	position: absolute;
    left: 1400px;
    top: 83px;
    width: 259px;
    height: 33px;
}
#headpart {
	background-color: #060126;
	width: 1920px;
	height: 150px;
	position: relative;
}
#categorypart {
    background-color: #060126;
    border-right: 1px solid #060126;
    position: relative;
    width: 269px;
    height: 1600px;
}
#categorymenu{
	
	
	font-size: 30px;
	position : absolute;
	top : 200px;
	text-decoration : none;
	color: inherit; /* 링크의 색상을 상속받음 */
	color: rgba(242, 214, 162, 1);
}

li {
	
	
	font-family: 'Cafe24Shiningstar';
	padding-top: 8px;
	text-decoration: none; /* 밑줄 제거 */
}
#categorymenu li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
}
#mainview {
	position: relative;
    left: 284px;
    float: left;
    top: -1349px;
}
#updiv{
    position: relative;
    left: 40px;
    top: -72px;
}
#btnList {
	margin-right: 10px;
	background-color: rgba(114, 77, 44, 1)!important; /* 원하는 색상 지정 */
    border-color: rgba(114, 77, 44, 1); /* 테두리 색상도 동일하게 지정 */
    color: rgba(242, 214, 162, 1)!important;
}

#detailwrite {
	position: relative;
    width: 1000px;
    height: 1000px;
    left: 400px;
    top: -1460px;
    margin : 0px;
}
#content{
	position: relative;
    left: -1px;
    top: 8px;
}
.pagingdiv{
	position: relative;
    width: 1042px;
    left : 128px;
}

#btns {
	position: relative;
    left: 20px;
    top: -60px;
}

label {
	font-size: larger;
}
.list{
	margin-top : 10%;
	margin-left : -15%;
}

.record {
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 2px;
}
.writeBtn{
	right : 0px;
}
h2{
	
	
	font-family: 'InkLipquid';
 position : relative;
}
.row{
	background-color : #060126;
	color : white;
}


#categorymenu-m li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold; 
}



/*기정이 추가한 부분*/

#demo ul {
	
	height: 370px;
	
	
}


hr {
	
	margin: 0px;
	padding: 0px;
	
}



#categorymenu-m{

	text-decoration : none;
	color: inherit; /* 링크의 색상을 상속받음 */
	color: rgba(242, 214, 162, 1);
	font-size: 17px;
}


#mypage {
	
	
	padding-top: 10px;
	text-decoration: none; /* 밑줄 제거 */
	color: inherit; /* 링크의 색상을 상속받음 */
	color: rgba(242, 214, 162, 1);
	text-decoration: none;
    font-weight: bold;
	
	
	
	
}



/*기정이 추가한 부분 끝*/